<section class="content music-detail">
    <div>
        <img [src]="img_music">
    </div>
    <div class="description-music">
        <p>
            <a mat-fab color="primary" href="{{link}}" target="_blank" aria-label="Listen our music">
                <span class="material-icons">
                    play_circle_filled
                </span>
            </a>
            {{title}}
            <button mat-raised-button color="primary" (click)="likeMusic()" matBadgePosition="before"
                matBadgeColor="accent">
                <span class="material-icons">
                    favorite
                </span>
                {{favorites}}
            </button>
        </p>
    </div>

    <mat-card>
        <mat-card-title>music Details</mat-card-title>
        <mat-card-subtitle>
            <span class="">{{description}}</span>
        </mat-card-subtitle>
        <!--  <mat-card-actions align="end" class="button-likes">
            <button mat-icon-button aria-label="like" class="mr-4">
                <mat-icon color="accent">thumb_up</mat-icon> {{likes}}
            </button>
            <button mat-icon-button aria-label="dislike">
                <mat-icon color="warn">thumb_down</mat-icon> {{dislikes}}
            </button>
        </mat-card-actions> -->

    </mat-card>

    <app-comments></app-comments>
</section>