<section class="content music-detail">
    <div>
        <img [src]="img_music">
    </div>
    <div class="description-music">
        <p>
            <a mat-fab color="primary" href="{{link}}" target="_blank" aria-label="Listen our music">
                <span class="material-icons">
                    play_circle_filled
                </span>
            </a>
            {{title}}
            <button mat-raised-button color="primary" (click)="likeMusic()" matBadgePosition="before"
                matBadgeColor="accent" favorite="{{isFavorite}}">
                <span class="material-icons">
                    favorite
                </span>
                <small> {{isFavorite == 'true'?'My favorite' :favoritesTotal}}</small>
            </button>
        </p>
    </div>

    <mat-card>
        <mat-card-title>music Details</mat-card-title>
        <mat-card-subtitle>
            <span class="">{{description}}</span>
        </mat-card-subtitle>
    </mat-card>

    <app-comments></app-comments>
</section>