<h2>My favorite music</h2>

<section>
    <table mat-table [width]="750" [dataSource]="dataSource" class="mat-elevation-z8">
        <!-- Nro Column -->
        <ng-container matColumnDef="nro">
            <th mat-header-cell *matHeaderCellDef> No. </th>
            <td mat-cell *matCellDef="let element; let i = index"> {{i + 1}} </td>

        </ng-container>

        <!-- Music Title Column -->
        <ng-container matColumnDef="music">
            <th mat-header-cell *matHeaderCellDef> Music Title </th>
            <td mat-cell *matCellDef="let element"> {{element.music}} </td>
        </ng-container>

        <!-- Date Column -->
        <ng-container matColumnDef="date">
            <th mat-header-cell *matHeaderCellDef> Date </th>
            <td mat-cell *matCellDef="let element"> {{element.date | date}} </td>
        </ng-container>

        <!-- Options Column -->
        <ng-container matColumnDef="favoriteId">
            <th mat-header-cell *matHeaderCellDef> Options </th>
            <td mat-cell *matCellDef="let element">
                <button mat-icon-button color="primary" (click)="deleteFavorite(element.favoriteId, element.music)" title="View Contact"><mat-icon>delete_forever</mat-icon></button>
            </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
</section>