<mat-toolbar color="primary">
  <mat-toolbar-row>
    <a class="link-home" [routerLink]="['/']">
      <span class="material-icons">
        rocket_launch
      </span>
      <span>Music-cloud</span>
    </a>
    <span class="example-spacer"></span>
    <div class="menu">
      <button mat-button [matMenuTriggerFor]="menu">
        My profile
        <span class="material-icons">
          account_circle
        </span>
      </button>
      <mat-menu #menu="matMenu">
        <button mat-menu-item>My favorites</button>
        <button mat-menu-item>Logout</button>
      </mat-menu>
    </div>
  </mat-toolbar-row>
</mat-toolbar>

<div class="content" role="main">
  <router-outlet></router-outlet>
</div>